body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #f1f1f1;
    text-align: center;
    padding: 20px;
  }
  
.container {
    max-width: 500px;
    margin: 0 auto;
    background-color:black;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  .search {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin: 40px 0;
    padding: 30px;
  }
  .search-bar {
    padding: 15px;
    width: 500px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
  }
.search-button {
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #f1f1f1;
    color: #121212;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
.search-button:hover {
    background-color: #ddd;
  }
.Paris {
    font-size: 48px;
    margin: 20px 0 10px;
  }
  .temp {
    font-size: 42px;
    margin-bottom: 10px;
  }
  .time, .details {
    font-size: 20px;
    margin: 5px 0;
  }
.footer {
    margin-top: 50px;
    font-size: 14px;
    color: #aaa;
  }
  
